<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.voidsink.anewjkuapp">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Globals"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme.Launch"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="org.voidsink.anewjkuapp.activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="org.voidsink.anewjkuapp.activity.SettingsActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName="org.voidsink.anewjkuapp.activity.MainActivity"
            android:permission="android.permission.MANAGE_ACCOUNTS"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.voidsink.anewjkuapp.activity.SyncSettingsActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:permission="android.permission.MANAGE_ACCOUNTS"
            android:screenOrientation="portrait">

            <!-- Call from sync screen -->
            <intent-filter>
                <action android:name="org.voidsink.anewjkuapp.prefs.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.voidsink.anewjkuapp.activity.AboutActivity"
            android:parentActivityName="org.voidsink.anewjkuapp.activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="org.voidsink.anewjkuapp.activity.KusssAuthenticatorActivity"
            android:parentActivityName="org.voidsink.anewjkuapp.activity.MainActivity"
            android:permission="android.permission.MANAGE_ACCOUNTS"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="org.voidsink.anewjkuapp.prefs.LOGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.voidsink.anewjkuapp.dashclock.MensaDashclockSettings"
            android:exported="true"
            android:label="@string/extension_mensa_title"
            android:screenOrientation="portrait" />

        <service
            android:name="org.voidsink.anewjkuapp.service.KusssAuthenticatorService"
            android:exported="false"
            android:permission="android.permission.AUTHENTICATE_ACCOUNTS">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name="org.voidsink.anewjkuapp.service.KusssCalendarSyncService"
            android:exported="false"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter_calendar" />
        </service>
        <service
            android:name="org.voidsink.anewjkuapp.service.KusssSyncService"
            android:exported="false"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter_kusss" />
        </service>
        <service
            android:name="org.voidsink.anewjkuapp.dashclock.MensaDashclockExtension"
            android:exported="true"
            android:label="@string/extension_mensa_title"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="1" />
            <meta-data
                android:name="worldReadable"
                android:value="true" />
            <meta-data
                android:name="description"
                android:value="@string/extension_mensa_description" />
            <!-- A settings activity is optional -->
            <meta-data
                android:name="settingsActivity"
                android:value="org.voidsink.anewjkuapp.dashclock.MensaDashclockSettings" />
        </service>

        <provider
            android:name="org.voidsink.anewjkuapp.provider.KusssContentProvider"
            android:authorities="@string/config_kusss_provider"
            android:exported="false"
            android:label="@string/kusss_provider_name"
            android:syncable="true" />

        <provider
            android:name="org.voidsink.anewjkuapp.provider.PoiContentProvider"
            android:authorities="@string/config_poi_provider"
            android:exported="false" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="remove">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                tools:node="remove" />
        </provider>

        <receiver
            android:name="org.voidsink.anewjkuapp.utils.BootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>