<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.voidsink.library.contributors"
    android:versionCode="10000"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21" />

    <application/>

</manifest>
